JavaScript/node_modules
JavaScript/parser/*
!JavaScript/parser/.keep

go.*
Golang/parser/*
!Golang/parser/.keep

Python3/__pycache__
Python3/parser/*
!Python3/parser/.keep

*.pyc
Python2/parser/*
!Python2/parser/.keep
